
.offers-block-list{
  margin-left:0px;
}

.card-body{
    padding-bottom: 0px;
}

.card-custom-background {
    background: inherit;
    border-color: inherit;
}

.card-custom-shadow {
    box-shadow: 0 2px 5px rgba(10, 10, 10, 0.5);
}

.card-custom {
    overflow: hidden;
    box-shadow: 0 0 1px rgba(10, 10, 10, 0.5);
    width: 321px;
    height: 567px;
    position: absolute;
}

.card-custom-avatar {
  width: 70px;
  height: 70px;
  overflow:hidden;
  border-radius: 50%;
  border: 1px solid #cccccc;

}

.card-custom-avatar img {
  width: 50px;
  height: 50px;
  top: 0.50rem;
  left: 0.60rem;
  position: relative;
}

.card-custom-position {
  font-size: 1.2rem !important;
  font-weight: 600;
  opacity: 1;
}

.card-custom-company {
  font-size: 1rem;
  opacity:0.4;
  font-weight: 600;
}

.card-position {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    color: #545663;
}

.card-title {
    font-size: 1rem;
}

.card-text {
    font-size: 0.9rem;
}

.card-feature {
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    flex-grow: 0;
}

.card-feature-item {
}

.card-feature-item p {
    padding: 0px;
    margin: 0px;
}

.card-feature-item small {
  color: #999999;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}

.card-item-title {
}

.card-item-description {
  opacity:0.4;
  font-size: 0.9rem;
}

.swipe-card {
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    margin: 20px auto;
    margin-left:15px;
    position: absolute;
    background-color: #EFEFEF;
    border: 1px solid #79CEF4;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    z-index: 2;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.swipe-card.reset {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.swipe-card.reset .swipe-card-choice {
    transition: opacity 0.3s;
    opacity: 0 !important;
}

.swipe-card.inactive {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.swipe-card.to-left {
    -webkit-transform: translateX(-30rem) rotate(-30deg) !important;
    transform: translateX(-30rem) rotate(-30deg) !important;
}

.swipe-card.to-right {
    -webkit-transform: translate(30rem) rotate(30deg) !important;
    transform: translate(30rem) rotate(30deg) !important;
}

.swipe-card.below {
    z-index: 1;
}

.swipe-card-choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.swipe-card-choice:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    color: #fff;
    border-radius: 50%;
    box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}

.swipe-card-choice:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4rem;
    height: 1.5rem;
    margin-left: -2rem;
    border: 0.6rem solid #fff;
    border-bottom: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.swipe-card-choice.m--like:after {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.swipe-card-drag {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: -webkit-grab;
    cursor: grab;
}

.button-accept {
  width: 60px;
  color: #ffffff;
  border-radius: 50%;
  background: #14c343;
  border: none;
}

.button-accept:hover {
  color: #14c343;
  background: transparent;
}

.button-reject {
  width: 60px;
  color: #ffffff;
  border-radius: 50%;
  background: #DA181B;
  border: none;
}

.button-reject:hover {
  color: #DA181B;
  background: transparent;
}



