<!-- navbar -->


<!-- profile page -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div clas = "profile">
      <div class="profile-pic-name">
        <div> <img class="avatar-large-profile" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></div>
        <div> <h1 class="bold-text-profile-name"><%= @user.first_name%></h1></div>
      </div>
      <div class="profile-about">
        <h6 class="headingcolor">ABOUT</h6>
        <p class="fontcolor">
          TextTextTextTextTextTextTextTextTTextT
          TextTextTextTextTextTextTextTextTextTextTextTe
          TextTextTextTextTextTextTextTextTextTextTextText
          tecxt helo helo gello ghello sdajhf asdjf
          sdafhkashgfkal fuhsadif aksdjfkdsi#apf
          sadjkfha,shfoidsa fj
          sdkfjha skdhfksaudhfuiasdhfiashfafgha
          akfhg ak nsudiafhsdhfshdfkajshfiuerhfjwksfi
          asjdfhiew jadhfa hfsiowefja jskfhai sdfäh
        </p>
        <p class="fontcolor">
          TextTextTextTextTextTextTextTextTTextT
          TextTextTextTextTextTextTextTextTextTextTextTe
          TextTextTextTextTextTextTextTextTextTextTextText
          tecxt helo helo gello ghello sdajhf asdjf
          sdafhkashgfkal fuhsadif aksdjfkdsi#apf
          sadjkfha,shfoidsa fj
          sdkfjha skdhfksaudhfuiasdhfiashfafgha
          akfhg ak nsudiafhsdhfshdfkajshfiuerhfjwksfi
          asjdfhiew jadhfa hfsiowefja jskfhai sdfäh
        </p>
        <p class="fontcolor">
          TextTextTextTextTextTextTextTextTTextT
          TextTextTextTextTextTextTextTextTextTextTextTe
          TextTextTextTextTextTextTextTextTextTextTextText
          tecxt helo helo gello ghello sdajhf asdjf
          sdafhkashgfkal fuhsadif aksdjfkdsi#apf
          sadjkfha,shfoidsa fj
          sdkfjha skdhfksaudhfuiasdhfiashfafgha
          akfhg ak nsudiafhsdhfshdfkajshfiuerhfjwksfi
          asjdfhiew jadhfa hfsiowefja jskfhai sdfäh
        </p>
      </div>

      <div class="profile-experience">
        <h6 class="headingcolor">EXPERIENCE</h6>
        <p class="experience-font">input of linkedin?</p>
        <hr class="experience-font">
        <p class="experience-font">more information</p>
        <hr class="experience-font">
      </div>

      <div class="profile-filter">
        <div class="profile-filters-edit">
          <div class="headingcolor"> SKILLS</div> <div class="headingcolor"> edit</div>
        </div>
        <button class="button-font-color rounded-button"> Ruby</button>
        <button class="button-font-color rounded-button"> PHP</button>
        <button class="button-font-color rounded-button"> JS</button>
      </div>

      <div class="profile-filter">
        <p class="headingcolor">Languages:</p>


      </div>

      <div class="profile-link">
        <%= image_tag("rockt_button.png",  :class => "img-fluid", :alt => "footer")    %>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- :email, :role, :first_name, :company_name, :company_photo, :user_photo) -->





