<div class="container">
 <div class="settings-title mt-5 mb-3">
  <h1>Settings</h1>
  </div>

  <div class="row mt-4">
    <div class="col-2 settings-item-icon text-center align-middle pr-0 mt-1">
      <i class="far fa-eye-slash fa-2x"></i>
    </div>
      <div class="col-8 pl-0 pr-0 d-flex align-self-center">
      <div class="custom-control pl-0 settings-item-label ">
        Hide profile from current employer
      </div>
    </div>
    <div class="col-2 mt-1">
      <input class="custom-checkbox" type="checkbox" name="custom-checkbox"/>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-2 settings-item-icon text-center align-middle pr-0 mt-1">
     <i class="fab fa-linkedin-in fa-2x"></i>
    </div>
    <div class="col-8 pl-0 pr-0 d-flex align-self-center">
      <div class="custom-control pl-0 settings-item-label ">
        Connect my profile with LinkedIn
      </div>
    </div>
    <div class="col-2 mt-1">
      <input class="custom-checkbox" type="checkbox" name="custom-checkbox"/>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-2 settings-item-icon text-center align-middle pr-0 mt-1">
      <i class="fab fa-github fa-2x"></i>
    </div>
    <div class="col-8 pl-0 pr-0 d-flex align-self-center">
      <div class="custom-control pl-0 settings-item-label ">
       Link my Github account
      </div>
    </div>
    <div class="col-2 mt-1">
      <input class="custom-checkbox" type="checkbox" name="custom-checkbox"/>
    </div>
  </div>

   <div class="row mt-4">
    <div class="col-2 settings-item-icon text-center align-middle pr-0 mt-1">
      <i class="fa fa-map-marker-alt fa-2x"></i>
    </div>
    <div class="col-8 pl-0 pr-0 d-flex align-self-center">
      <div class="custom-control pl-0 settings-item-label ">
        Share my current location
      </div>
    </div>
    <div class="col-2 mt-1">
      <input class="custom-checkbox" type="checkbox" name="custom-checkbox" checked />
    </div>
  </div>



</div>

