<div class="container">
 <div class="settings-title mt-5 mb-3">
  <h1>Settings</h1>
  </div>

  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">Toggle this switch element</label>
  </div>
</div>
