<h2>All Matches</h2>


  <div class="all_matches_row">

  <div class="all_matches_column">
    <div class="all_matches_card">You matched with</div>
    <p>Google</p>

    <div> Front-End Developer </div>
  </div>

 <div class="all_matches_column">
    <div class="all_matches_card">You matched with</div>
  </div>

  <div class="all_matches_column">
    <div class="all_matches_card">You matched with</div>
  </div>

 <div class="all_matches_column">
    <div class="all_matches_card">You matched with</div>
  </div>
</div>
