<h2>All Matches</h2>


<div class="all_matches_column">
  You matched with:
    <% @swipes.each do |swipe| %>
      <div class="all_matches_card">
        <%= image_tag swipe.offer.company_photo, :class => "all_matches_img" %>
        <div> <p><%= swipe.offer.company_name%></p></div>
        <div><p><%= swipe.offer.location %></p></div>
      </div>
    <%end%>
</div>




