<h2>All Matches</h2>


<div class="all_matches_column">
  <div class="all_matches_card">You matched with
    <%= image_tag("google_logo.png", :alt => "logo", :class => "all_matches_img") %>
    <%= @swipes.each do |swipe| %>
    <p> <%= swipe.offer.company_name  %></p>
    <p><%= swipe.offer.location %></p>

    <% end %>
  </div>
</div>




