  <div class = "match_background">
  <div class ="navbar-background">

<nav class="navbar navbar-expand navbar-dark bg-purple">
    <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
        <span class="navbar-toggler-icon"></span>
    </a>
</nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#"> Home </a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Browse jobs</a></li>
            <li><a href="#">All matches</a></li>
            <li><a href="#">Chats</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                    </div>
                </div>
            </div>


  <!--Logo-->
  <div class="row">
    <div class="col-xs mx-auto d-block mt-5">
      <%= image_tag("logo.png", :alt => "logo") %>
    </div>
  </div>

  <!--Text-->
  <div class="container">
    <div class="row">
      <div class="col-xs mx-auto d-block mt-3">
        <h4 class="red-font"> match = <span class="result">true</span> </h4>
      </div>
    </div>
  </div>

<!--Avatars-->
 <div class="row">
    <div class="col-xs mx-auto d-block mt-5" class="avatar">
      <img class = "avatar" src = "../images/girl1.jpg" ></img><img class = "avatar" src = "images/google_logo.jpg" ></img>
    </div>
  </div>

  <!--button1-->
  <div class="row">
    <div class="col text-center">
      <button class="rounded-button1">
        Go to chat <i class="rounded-button1"></i>
      </button>
    </div>
  </div>

  <!--button2-->
  <div class="row">
    <div class="col text-center">
      <button class="rounded-button2">
        Back to swipe <i class="back-to-swipe"></i>
      </button>
    </div>
  </div>

<!--footer-->
  <div class="footer fixed-bottom">
    <div class="footer-top d-flex justify-content-center">
      <%= image_tag("footer.png", :class => "img-fluid", :alt => "footer") %>
    </div>
  </div>
</div>
</div>
