<div class="landing-page">
    <div class="background-lines"></div>
<div class="container">
  <!--Logo-->
  <div class="row">
    <div class="col-xs mx-auto d-block mt-5">
      <%= image_tag("logo.png", :alt => "logo") %>
    </div>
  </div>

  <!--person-->
  <div class="row">
    <div class="col d-flex justify-content-center mb-5">
      <%= image_tag("person.png", :class => "img-fluid", :alt => "person") %>
    </div>
  </div>

  <!--carousel-->
  <div class="row">
    <div class="col">
      <div id="captionCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Select your filters</h5>
            <h5>Define your search criteria by adjusting the filters.</h5>
          </div>
          <div class="carousel-item">
            <h5>Start swiping</h5>
            <h5>Swipe left to reject the offer and right to accept it.</h5>
          </div>
          <div class="carousel-item">
            <h5>Connect with the recruiter</h5>
            <h5>Start chat with the recruiter after the match.</h5>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#captionCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#captionCarousel" data-slide-to="1"></li>
          <li data-target="#captionCarousel" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </div>

  <!--Text-->
  <div class="container">
    <div class="row">
      <div class="col-xs mx-auto d-block mt-3">
        <h4 class="yellow-font"> Match. Chat. Get a job. </h4>
      </div>
    </div>
  </div>

  <!--button-->
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-get-started mt-3 ">
        Get started <i class="fa fa-arrow-right custom-arrow"></i>
      </button>
    </div>
  </div>


</div>
</div>
