.chat-button{
  width:72px;
  border-radius: 10px;
  background-color: #8a22b1;
  border:none;
}

.match_background {
  background-image: linear-gradient(#e1d0e8, #e3d3ea, #ffffff);
  height: 100%;
  overflow-y: hidden;
}

.match_font {
  color: #CA3879;
}

.match_result_font {
  color: black;
}

.match-avatar {
  height: 130px;
  width: 130px;
  margin-right: 5px;
  margin-left: 5px;
  border: 4px solid #AA3FD2;
  border-radius: 100px;
  position: relative;
  z-index: 0;
  overflow:hidden;
}

.match-company {
  height: 130px;
  width: 130px;
  margin-right: 5px;
  margin-left: 5px;
  border: 4px solid #AA3FD2;
  border-radius: 100px;
  position: relative;
  z-index: 0;
  background: #ffffff;
  overflow:hidden;
  padding: 25px;
}

.match-company img {
  height: 70px;
  width: 70px;
}

.match-go-to-chat-button {
  border-radius: 20px;
  background-color: #AA3FD2;
  margin-bottom: 50px;
  height: 40px;
  padding: 8px;
  color: #ffffff;
  &:hover {
    border: 2px solid #AA3FD2;
    background-color: white;
    text-decoration: none;
    color: #AA3FD2;
  }
}

.match-back-to-swipe-button {
  border: 2px solid #AA3FD2;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 50px;
  height: 40px;
  padding: 8px;
  color: #AA3FD2;
  &:hover {
    text-decoration: none;
    color: #ffffff;
    background: #AA3FD2;
  }
}

.match_rocket_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
