.entire-chat{
  height: 100vh;
  margin-top: 10px;

}
.chat-name{
  font-weight: 600;
  margin-left:20px;
}

.chat-title{
  margin: 0;

}
.chat-header {
  background-color:#c8c5c5;
  color: white;
  font-weight:10;
  padding: 10px 20px;

  align-items: center;
  display:flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #c6bfbf;
  border-left: 1px solid #c6bfbf;
  border-right: 1px solid #c6bfbf;
}

.chat-header-img {
  border-radius: 50%;
  content-align: left;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: #fff;

}

.chat-header-img img{
  width: 60px;
  height: 60px;
  padding: 10px;
}


.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: 67vh;
  min-height:67vh;
  // max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border: 1px solid #c6bfbf;
  // background

}

// #efdef1; light purple

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #f2f9fc;
    }
  }
}

.message-content {
  background-color: #efdef1;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  border-radius:10px;
}
.message_content {
  margin-bottom: 0;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  border-radius:10px;
  &:focus {
    outline: none;
    border: 1px solid #c6bfbf;
    box-shadow: none;
    border-radius:10px;
  }
}
