.profile-page{
   background-color: #ffffff;
   height: 100vh;
}

// edit filters creating buttons

input[type="radio"] { //select all input type = "radio"
    height: 50px;  //change these to get correct size
    width: 50px;
    background: purple;
    display:none;
    margin:10px;
}


input[type=radio] + label {
    display:inline-block;
    margin-bottom: 20px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    border-radius: 10px;

}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid  ~ .form-check-label{
  color: grey;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label {
   background-image: none;
    background-color:#d0d0d0;
    border-radius: 10px;
}



// Profile picture along with name and email

.profile-pic-name{
  display:flex;
  margin-bottom: 20px;
  margin-top: 40px;
  align-items: center;

  margin-left: 30px;
  margin-right:10px;

}

// Profile Text


.profile-about{
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.profile-experience {
  margin-left: 30px;
  margin-bottom: 20px;
}
  .experience-font{
    color: #464648;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}






// all filters

.profile-filter{
  margin-left: 10px;
  margin-bottom: 10px;
  width:20px;
}

.profile-filters-edit{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;

}


// all filters container
.all-filters {
  display: flex;
  justify-content: center;
  flex-direction:column;
  flex-wrap: wrap;

  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 39px;
}
// grey light

.fontcolor {
  color: #9c9c9c;
  // text-overflow: ellipsis;
  // overflow: overlay;
  word-break: break-all;
}

// grey slightly lighter
.headingcolor {
  color: #dadada;
}

.bold-text-profile-name{
  font-weight: bold;
  font-size: 20px;
  margin-left:20px;
  color: #464648;
}

.email-text-profile{
  margin-left:20px;
  color: #464648;
  font-size: 13px;
}

// grey slightly darker
.button-font-color{
  color: #696a75;
  width: 135px;

}


.edit-filter-btn{
  color:#c795d9;
  text-decoration: none;
  :active{
    color:white;
    text-decoration: none;
  }
}

.edit-submit-button{
  background-image: none;
  background-color:#c873d9;
  border-radius: 10px;
}

.edit-cancel-button{
  background-image: none;
  background-color:white;
  border-radius: 10px;
  border:solid-thin;
}

.edit-reset-button{
  background-image: none;
  background-color:#e85656;
  border-radius: 10px;
  border: none;
}



// for swiping

.profile-link{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom:16px;
}

.rocket-button {
  position: sticky;
  bottom: 0px;
  z-index: 0;
}



.form-edit-filters{
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom:30px;
  margin-top: 20px;
}
