

/* Title */
.profile-edit-title h1 {
  font-size: 30px;
  font-weight: 600;
  opacity: 0.3;
}

.form-group {
  margin-bottom: 2.5rem;
}

.form-group label, .col-form-label {
  color: #000000;
  font-weight: 900;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid  ~ .form-check-label,
.form-group label, .col-form-label {
  color: #808080;
}

.form-check .form-check-label {
  font-weight: 300;
}

.profile-edit input[type=radio]:checked + label {
  background-image: none;
  background-color:#d0d0d0;
  border-radius: 10px;
  cursor:pointer;
}

.profile-edit input[type=radio] + label {
  display:inline-block;
  margin-bottom: 20px;
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
  border-radius: 10px;
  cursor:pointer;
}

.profile-edit input[type="radio"] {
  height: 50px;
  width: 50px;
  background: purple;
  display:none;
  margin:10px;
}

.is-valid {
  border-bottom: 1px solid #E3D5EF !important;
}

.rocket-button {
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  margin-bottom: 8px;
  cursor: pointer;
}

.profile-link{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom:16px;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid  ~ .form-check-label{
  color: grey;
}


// Profile picture along with name and email
.profile-pic-name{
  display:flex;
  margin-bottom: 20px;
  margin-top: 40px;
  align-items: center;

  margin-left: 30px;
  margin-right:10px;
}


// Profile Text
.profile-about{

}

.profile-experience {

}

.experience-font{
    color: #464648;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}


/* Profile */

.profile-filters-edit{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.profile-filter-label {
  color: #dadada;
  font-size: 1rem;
}

.profile-filter-value {
  color: #696a75;
}

.image-upload > input
{
    display: none;
}
.image-upload > label{
  cursor:pointer;
}

// all filters container
.all-filters {
  display: flex;
  justify-content: center;
  flex-direction:column;
  flex-wrap: wrap;

  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 39px;
}

.fontcolor {
  color: #9c9c9c;
  // text-overflow: ellipsis;
  // overflow: overlay;
  word-break: break-all;
}

// grey slightly lighter
.headingcolor {
  color: #dadada;
}

.bold-text-profile-name{
  font-weight: bold;
  font-size: 20px;
  margin-left:20px;
  color: #464648;
}

.email-text-profile{
  margin-left:20px;
  color: #464648;
  font-size: 13px;
}

// grey slightly darker
.button-font-color{
  color: #696a75;
  width: 135px;

}

.edit-filter-btn{
  color:#c795d9;
  text-decoration: none;
  :active{
    color:white;
    text-decoration: none;
  }
}


/* Buttons */
.edit-submit-button{
  background-image: none;
  color: #20c997;
  border-radius: 10px;
  border:none;
  background-color:white;
}

.edit-cancel-button{
  background-image: none;
  color: #cccccc;
  border-radius: 10px;
  border:none;
  background-color:white;
}

.edit-reset-button{
  background-image: none;
  color: #FD1015;
  border-radius: 10px;
  border:none;
  background-color: white;
}

.current-filters {
opacity: 0.4;
}





