.match_background {
background-image: linear-gradient(#ffffff, #e3d3ea);
}

.red-font {
  color: red;
}

.result {
  color: black;
}

.avatar {
  width: 60px;
  border-radius: 50%;
}


.rounded-button1{
  border-radius: 10px;
  border-color: #e3d3ea;
  background-color: transparent;
}

.rounded-button2{
  border-radius: 10px;
  border-color: black;
  background-color: white;
}
